
#contacto #contactar{
    margin-top:1em;
}
#contacto .espacio{
    margin-top: .5em;
}
#contacto label{
    width: 5em;
    display: block;
    font-size: 16px;
    text-shadow: 0px 2px 0px #C1C5C6;
}
#contacto input:focus,#contacto textarea:focus {

    background: rgba(142, 175, 255, 1);
}
#contacto input,#contacto textarea {
    border-left: 0;
    background-color: #f1f1f1; }
#contacto #envio {
    display: block;
    margin: 0 auto;
    width: 10em; 
    height: 5em;
    position: relative;
}
#contacto #enviar{
    display: block;
    margin-top:1em;
}
@media (max-width: 750px) {
    #contacto #enviar{margin-left: -2em;}
}
@media (min-width: 992px) {
    #contacto #enviar{width: 80%;}
}
#contacto h1{
    margin-top:1em;
    margin-bottom: 1em;
    text-align: center;
    font-family: 'Lobster', cursive;
}
#contacto #EquipoProyectos{
    width: 100%;
}
#contacto #Oficina{
    margin-top: 1em;
}
#contacto #OpcionesMapa{
    width: 20em;
    margin: 0 auto;
}
#contacto #googlemaps{
    border-radius: 13px 13px 13px 13px;
    -moz-border-radius: 13px 13px 13px 13px;
    -webkit-border-radius: 13px 13px 13px 13px;
    border: 7px groove #a4c4fc;
    height: 30em;
}
#contacto #informacionPU{

    display: block;
    width: 30em;
    margin:0 auto;
    margin-top:2em;
}
#contacto #informacionPU h3{
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
#contacto #informacionPU li{
    list-style: none;
    margin-top:.5em;
    font-family: 'Oswald', sans-serif;
}
#contacto #informacionPU span{
    font-size: 17px;
    margin: .4em;
    color:rgba(142, 175, 255, 1);
}
#contacto #logo{
    width: 15em;

}
#contacto #posicionarL{
    width: 15em;
    margin:0 auto;
    margin-top:4em;
}
@media (max-width: 750px) {
    #contacto #informacionPU{
        display: block;
        width: 23em;
    }
}
#contacto #llegar,#contacto #SituarOf{

    margin:0 auto;
    width: 9em;
    margin-top: 1em;
    height: 3em;
}
#contacto #respuesta{

    display: block;
    margin:0 auto;
    text-align: center;
    font-size: 16px;
    text-shadow: 0px 2px 0px #C1C5C6;
}

#contacto  #Enviando {
    width: 100%;
    text-decoration: none;
    text-align: center;
    padding: 11px 32px;
    border: solid 1px #090a0a;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font: 22px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #f4f7f7;
    background-color: #50595c;
    background-image: -moz-linear-gradient(top, #50595c 0%, #000000 100%);
    background-image: -webkit-linear-gradient(top, #50595c 0%, #000000 100%);
    background-image: -o-linear-gradient(top, #50595c 0%, #000000 100%);
    background-image: -ms-linear-gradient(top, #50595c 0%, #000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 );
    background-image: linear-gradient(top, #50595c 0%, #000000 100%);
    -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 6px #ffffff;
    -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 6px #ffffff;
    box-shadow: 0px 0px 2px #bababa, inset 0px 0px 6px #ffffff; }
#contacto  #Enviando:hover {
    padding: 11px 32px;
    border: solid 1px #090a0a;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font: 22px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #f4f7f7;
    background: #000000;
    -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 6px #ffffff;
    -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 6px #ffffff;
    box-shadow: 0px 0px 2px #bababa, inset 0px 0px 6px #ffffff; }
#contacto  #Enviando:active {
    padding: 11px 32px;
    border: solid 1px #090a0a;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font: 22px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #f4f7f7;
    background-color: #50595c;
    background-image: -moz-linear-gradient(top, #50595c 0%, #000000 100%);
    background-image: -webkit-linear-gradient(top, #50595c 0%, #000000 100%);
    background-image: -o-linear-gradient(top, #50595c 0%, #000000 100%);
    background-image: -ms-linear-gradient(top, #50595c 0%, #000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 );
    background-image: linear-gradient(top, #50595c 0%, #000000 100%);
    -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 6px #ffffff;
    -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 6px #ffffff;
    box-shadow: 0px 0px 2px #bababa, inset 0px 0px 6px #ffffff; }
