#titulo4{
    margin-top: 1.3em;
    font-size: 70px;
       font-family: 'Lobster', cursive;
    text-align: center;
    color: #59bebd;
}
.parallax-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: url(../img/overaly.png);
}
#banner-area {
    margin-top:4.3em;
    position: relative;
}
.thumbnail img {
    width: 100%;
    height: 15em;
}

.articulo{
    margin-top: 2em;
    margin-bottom: 1em;
}
.articulo #info_articulo #autor{
    display: inline-block;
    position: relative;
    font-family: 'Oswald', sans-serif;
    color:#50595c;
    font-weight: bolder;
    font-size: 17px;
    margin-left: 1em;
}
.articulo #info_articulo #fecha{
    display: inline-block;
    position: relative;
    margin-top:1em;
    float:right;
}
.articulo  #info_articulo{
    margin-top:2em;
    padding-bottom:.5em; 
    border-bottom:1px solid #D0D0D0;
}
.articulo  #info_articulo #foto_autor{
    width: 3em;
    height: 3em;
}
.articulo #contenido{
    padding-bottom:.5em; 
    border-bottom:1px solid #D0D0D0;
}
.articulo #titulo{
    margin:0 auto;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
}
#comentarios{
    margin-bottom:10em;
}
#comentarios #coment{
    margin-top:1em;
    padding-bottom:1em;
    border-bottom:1px solid #D0D0D0;
}
#comentarios h2{
    
    font-family: 'Oswald', sans-serif;
    
    font-size: 25px;
    width: fit-content;
    padding-bottom: .3em;
    border-bottom:2px solid #6495ED;
}
#comentarios .foto_coment{
    width: 3em;
    height: 3em;
    margin-right: -1em;
    float:right;
}
#comentarios .nombre_coment{
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    color:#003399;
}
@media (max-width: 768px ){
    
    
}