
#TituloGeneral{
    font-family: 'Lobster', cursive;
    margin-top:2em;
    text-align: center;
    font-size: 22px;
}
.fotoNoso{

    position: relative;
    width: 13em;
    height: 13em;

    margin:3.5em auto;
    margin-left: 3.5em;
}
.circulo{

    margin:0 auto;
    margin-top: 2em;
    width: 20em;
    height:20em;
    border-radius:100%;
}
.TituloInicio h1{
    text-align: center;
    color:rgb(205,92,92);
}
.DescripcionIni p{
    width: 80%;
    margin:0 auto;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 2em;
}
#separador{
    width:1px; 
    height: 100%;
    border:1px solid red;
}
#Even{
    background-color: #f1f1f1;
    margin-bottom: 1em;
    padding-bottom: 2em;
}
#unacino{
    width: 100%;
    margin:0 auto;
}
#imagenUnac{
    display:block;
    width: 5em;
    margin: 0 auto;

    margin-top:10.5em;
}
#imagenPerso{
    display:block;
    width: 5em;
    margin: 0 auto;
    margin-top:7em;
}
#pertenecer{
   
    margin:0 auto;

    width: 10em;
    text-align: center;
    padding: 0;
    border-radius: 20px;
}
#pertenecer h2{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    margin:0 auto;
    padding: .5em;
}
#descIngre h2{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}
#descIngre ul{
    width: 90%;
    margin:0 auto;
    border-radius: 10px;
    background-color: white;
    padding-top: 1em;
    padding-bottom: 1em;
    -webkit-box-shadow: 10px 10px 12px -6px rgba(128,124,128,1);
    -moz-box-shadow: 10px 10px 12px -6px rgba(128,124,128,1);
    box-shadow: 10px 10px 12px -6px rgba(128,124,128,1);
}
#descIngre li{

    font-family: 'Oswald', sans-serif;
    padding: .2em;
    width: 90%;
    list-style: none;
}
.evento{
    display: block;
    width: 25em;

    margin:0 auto;
}
#contenido{

    width: 95%;
    margin:0 auto;
    margin-top:-1.5em;
    padding-top:1em;
    z-index:-8;
    background-color:#F5F5F5;
    -webkit-box-shadow: 9px 13px 22px -4px rgba(122,118,122,0.67);
    -moz-box-shadow: 9px 13px 22px -4px rgba(122,118,122,0.67);
    box-shadow: 9px 13px 22px -4px rgba(122,118,122,0.67);
    padding-bottom: 1em;
    margin-bottom: 2em;
}

#encabezado {
    margin: 15px 0;
    line-height: 34px;
    padding: .2em;
    position: relative;
    cursor: pointer;
    user-select: none;

    outline:none !important;
    width:100%;
}
#imgevent{
    width: 100%;
    height: 14em;
}

#encabezado:active {
    background-color: #483D8B;
    outline:none;
}

#encabezado.ribbon {

    outline:none;
    outline-color: transparent;
}
.btn-primary{
    background-image: -webkit-linear-gradient(top,#6495ED 0,#6495ED 100%);
    background-image: -o-linear-gradient(top,#6495ED 0,#6495ED 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#6495ED),to(#483D8B));
    background-image: linear-gradient(to bottom, #6495ED 0,#483D8B 100%);
}
.btn-primary:hover{

    background-color: #483D8B;
}
.btn-primary:active{
    background-color: #483D8B;
    outline:none;
}
#encabezado.ribbon:before, #encabezado.ribbon:after {
    top: 12px;
    z-index: -10;
}
#encabezado.ribbon:before {
    border-color: #6495ED #6495ED #6495ED transparent;
    left: -25px;
    border-width: 17px;
}
#encabezado.ribbon:after {
    border-color: #6495ED transparent #6495ED #6495ED;
    right: -25px;
    border-width: 17px;
}

#encabezado:before, #encabezado:after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 0;
    outline:none;
} 
#encabezado.btn-primary:before {
    border-color: #483D8B #483D8B #483D8B transparent;
}
#encabezado.btn-primary:after {
    border-color: #483D8B transparent #483D8B #483D8B;
}

#tituloEvento{
    text-align: center;
    font-family: 'Lobster', cursive;
    color:#F01149;
    font-weight: bold;

}
#DescripcionCurso{
    text-align: justify;
    font-family: 'Oswald', sans-serif;
    width: 90%;
    margin:0 auto;
}
#botonEvent{
    display: block;
    position: relative;
    margin:0 auto;
}
@media (max-width: 700px) {
    .evento{
        display: block;
        width: 18em;

        margin:0 auto;
    }
}