#mensajeLogin,#Registrado{
    position: absolute;
    margin:0 auto;
    margin-top:-10em;
    margin-left: -2em;
    width: 100%;
    padding-top: 0;
    background-color: #ffd6d8;
    color:black;

}
#mensajeLogin p,#Registrado p{

    width: 90%;
    text-align: justify;
    margin: 0 auto;
    font-family: 'Oswald', sans-serif;
}
#mensajeLogin h2,#Registrado h2{
    font-family: 'Lobster', cursive;
    text-align: center;
    padding-top: 0;
    margin-top: 0;
}
#card{
    display: block;
    height: 33em;   
    margin:0 auto;
}
#formulariologeo{
    position: relative;
    display: block;
    width: 20em;
    margin:0 auto;
    padding: 2em;
    margin-top:12em;
    
    border-radius: 5px 10px 10px 10px;
    -moz-border-radius: 5px 10px 10px 10px;
    -webkit-border-radius: 5px 10px 10px 10px;
    border: 2px groove #918c91;

    -webkit-box-shadow: 2px 16px 32px 4px rgba(189,189,189,0.69);
    -moz-box-shadow: 2px 16px 32px 4px rgba(189,189,189,0.69);
    box-shadow: 2px 16px 32px 4px rgba(189,189,189,0.69);
}

#activado-btn,#desactivado-btn{
    cursor:pointer;
    display: inline;
}
#login h1{
    padding-top: 0;
    margin:1em auto;
    margin-top: 0em;
    font-family: 'Lobster', cursive;
    text-align: center;
}
#login p{
    font-family: 'Oswald', sans-serif;
}
#botones{
    width: 19.5em;
    margin: 0 auto;
}
#redes{
    display: none;
    position: absolute;
    margin-top: -10em;
    margin-left: -1.5em;
    background-color: white;
    width: 20em;
    height: 10em;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 2px solid #16c722;
}
#redes h3{
    text-align: center;
    font-family: 'Lobster', cursive;
}
#redes p{
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
#redesSociales{
    margin:0 auto;
    margin-left:3em;
    margin-top:1em;
}
#recuperar h1{
    text-align: left;
    font-family: 'Lobster', cursive;
    width: 8em;
    margin-top:0em;
    margin-left: -.5em;
    border-bottom:1px solid red;
}
#Erecuperando{
    display: block;
    margin:0.5em auto;
    width: 11.5em;
}
#formularioRecu{
    position: relative;
    display: block;
    width: 20em;
    margin:0 auto;
    padding: 2em;
    margin-top:12em;
    border-radius: 5px 10px 10px 10px;
    -moz-border-radius: 5px 10px 10px 10px;
    -webkit-border-radius: 5px 10px 10px 10px;
    border: 2px groove #918c91;

    -webkit-box-shadow: 2px 16px 32px 4px rgba(189,189,189,0.69);
    -moz-box-shadow: 2px 16px 32px 4px rgba(189,189,189,0.69);
    box-shadow: 2px 16px 32px 4px rgba(189,189,189,0.69);
}
#recuperar p{

    text-align: justify;
    font-family: 'Oswald', sans-serif;
}
.msj_error{
    background-color: rgba(0,0,0,0.8);
    color:white;
    text-align: center;
    width: content-box;
    right: 2em;
    position:absolute;
    border-radius: 5px;
    padding: .5em;
    margin-top:-1.3em;
}
#Registrado{
    background-color: #38C171;
    color:white;
}
@media (min-width: 600px) {
    
    #mensajeLogin,#Registrado{
        width: 37em;
        margin-top:-11em;
        margin-left: -4em;
    }
    #login h1{
        margin-top:-1em;
    }
    #formulariologeo{
        padding: 4em;
    }
    #formularioRecu{
        width: 30em;
        padding: 4em;
    }
    #recuperar h1{
        margin-top:-1.5em;
        margin-left: -1.5em;
    }
}