#titulo4{
    margin-top: 2.3em;
    font-size: 50px;
    color: #59bebd;
}
#personas #presidente{
    margin-top: 3em;
    
    height: 13em;
    overflow: hidden;
    
}
.restmenuwrap {
    box-shadow:inset 0 0 0 16px #fff,inset 0 0 0 17px #eee,inset 0 0 0 18px #fff,inset 0 0 0 19px #eee,inset 0 0 0 20px #fff,inset 0 0 0 21px #eee,0 4px 20px rgba(0,0,0,0.1);
    -webkit-transform:translateZ(0px);
    transform:translateZ(0px);
    opacity:1;
    
    width: 17em;
}
#directivas{
    width: 100%;
}

.restmenuwrap {
    font-size:12px;
    padding:10px 40px 20px 40px;
}
.restitem {
    margin-bottom:40px;
}
.parte{
    width: 50em;
}


#personas .director{
    margin-top:-1em;
    text-align: center;
       margin:0 0 20px 0;
    font-size:19px;
    padding-bottom:10px;
    color:#cc580c;
    border-bottom: 4px double #eee;
    text-decoration: bold;
}
#personas #presidente:hover h4{
    margin-top:-3em;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    transition-duration: .5s;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

#personas img{

    width: 100%;
    height: 13em;
    border-radius: 20px;
}
#personas #presidente h4{
    font-size: 16px;
    display: block;
    padding-top:.6em;
    text-align: center;
    color:white;
    font-family: 'Oswald', sans-serif;

}
#personas .nombre_D{
    display: block;
    position: relative;
    background-color: rgba(0,0,0,0.5);
    z-index: 3;
    width: 100%;
    height: 100%;
}
#personas #BQ_integrante{
    margin-top :5em;
}
#personas .Directiva{
    width: 100%;
    height: 19em;
   
    font-family: 'Oswald', sans-serif;
}
#personas #BD_integrante img{

    width: 100%;
    height: 15em;
}
#personas .Directiva{
    cursor:pointer;
    margin-top:2em;
}
#personas h1{
    font-family: 'Lobster', cursive;
    text-align: center;
}
#personas #boton{
    position: relative;
    cursor:pointer;
    width: 8em;
    margin:0 auto;
}
#personas #img_logo{
    width: 12em;
}
#personas #cintegrante{
    height: 50em;
}
#personas #imprimiendo {
    height: 71em;
    overflow: hidden;
    background-image: url(../img/MarcaAgua.png);
    background-size: 22em 22em;
    background-repeat: no-repeat;
    background-position: center;
}
#personas #marcaagua{
    display:none;
}
#personas #cintegrante img{
    width: 12em;
    margin-top: 2em;
    border-radius: 12px;
}
#personas #cintegrante #dedicatoriaPU{
    margin-top:1.5em;
    font-family: 'Oswald', sans-serif;
}

#personas #cintegrante h3{
    font-family: 'Oswald', sans-serif;
}
#personas #contenido #firma{
    border-top:2px solid black;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
#personas #contenido #firmaPresi{
    display: block;
    position: relative;
    width: 15em;
    height: 5em;

    margin:0 auto
}
#personas #contenido #imprimir{
    height: 7em;
    top:3em;
    background-color: rgba(0,0,0,0.5);
}
#personas #contenido:hover #imprimir{
    height: 6em;
    top:-2em;
    -webkit-transition-duration: .7s;
    -moz-transition-duration: .7s;
    transition-duration: .7s;
    background-color: rgba(0,0,0,0.5);
}
#personas #contenido #imprime{
    margin-top: .3em;
    width: 1em;
    cursor:pointer;
    color:rgb(220,220,220);
    font-size: 40px;
}
#personas #contenido #imprime:hover{
    color:rgb(233,233,233);
}
@media print {
    #contenido{
        width: 95%;
        margin:0 auto;
    }
    #imprimiendo{
        height: 71em;
        overflow: hidden;
    }
    #titulo{
        font-family: 'Lobster', cursive;
        text-align: center;
    }
    #foto{
        width: 12em;
        margin-top: 2em;
        border-radius: 12px;
        margin-bottom: 1em;
    }
    #marcaagua{
        display: block;
        position: absolute;
        width: 30em;
        top:20em;
        z-index: 1;
        left: 10em;

    }
    .close{
        display:none;
    }
    #img_logo{
        width: 12em;
    }
    #cintegrante{
        height: 50em;
    }
    #dedicatoriaPU{
        margin:0 auto;

        width: 80%;
    }

    #tituloProyectos{
        font-family: 'Oswald', sans-serif;
    }
    #firma{
        border-top:2px solid black;
        text-align: center;

        font-family: 'Oswald', sans-serif;
    }
    #firmaPresi{
        display: block;
        position: relative;
        width: 15em;
        height: 5em;

        margin:0 auto
    }
    #imprimiendo #imprime{
        display: none;
    }
    #Fpresidente{
        position: absolute;
        width: 12em;
        right: 2em;
    }
}