
#nosotros p{
    display: block;
   
    font-size: 18px;
    width: 80%;
    margin: 6em;
    text-align: justify;
    margin-left: 5em;
}

#fondo{
    background-color: #e3e8ec;
}

#fonda{
    background-color: #e3e8ec;
}


#fond{
    background-color: #59bebd;
}

#team{
    float: left;
    display: inline;
    width: 100%;
    padding:0px 0px; 
}
.team_area{
    float: left;
    display: inline;
    width: 100%;
}
.team_slider{
    float: left;
    display: inline;
    width: 100%;
}
.team_slider .slick-next, .team_slider .slick-prev{
  height: 40px;
}
.single_team {
  border: 2px solid #ccc;
  border-radius: 5px;
  display: inline;
  float: left;
  padding: 25px 15px;
  text-align: center;
  width: 100%;
}
.team_img{
    float: left;
    display: block;
    width: 100%;
}
.team_img img {
  border-radius: 100%;
  height: 150px;
  margin: 0 auto 15px;
  width: 150px;
}
.single_team h5 {
  color: #555;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 18px;
  text-transform: uppercase;
  font-size: 17px;
}
.single_team span {
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.single_team p {
  line-height: 26px;
}
.team_social{
    float: left;
    display: inline;
    width: 100%;
    margin-top: 10px;
}
.team_social a {
  color: #fff;
  font-size: 18px;
  display: inline-block;
  background: #ccc;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#team h2{
    text-align: center;
    fon
    
}


#sub{
    text-align: center;
    margin-top: 1.5em;
    font-size: 3em;

}


#nosotros #cargos{
    margin-top:5em;
}
#nosotros #cargos #presidente,#vicepresidente,#secretario,#tesorera{
 
    position: relative;
    height: 20em;

}


#fondo img{
    height: 10em;
    margin:0 auto;
    margin-top:7em;
    
    border-radius: 10px;
    margin-bottom: 5em;

}

#fonda img{
    height: 14em;
    margin:0 auto;
    margin-top:7em;
    
    border-radius: 10px;
    margin-bottom: 5em;

}

#fond img{
  height: 10em;
    margin:0 auto;
    margin-top:7em;
    
    border-radius: 10px;
    margin-bottom: 5em;

}
#nosotros h3{
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 18px;
    width: 60%;
    margin-left: 9em;
}

#get-in-touch {
  padding: 20px 0 40px;
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  color: #fff;
  margin-top: 50px;
}
#get-in-touch h1,
#get-in-touch h2 {
  color: #fff;
  margin-top: 60px;
}
#get-in {
  padding: 0px  40px;
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  color: #fff;
}
#get-in h1,
#get-in h2 {
  color: #fff;
  margin-top: 60px;
}
#te{
  margin-top: 80px;
}
.section-header .section-title {
  font-size: 44px;
  color: #272727;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 30px;
  margin: 0 0 20px;
}
.section-header .section-title:before {
  content: "";
  position: absolute;
  width: 140px;
  bottom: 0;
  left: 50%;
  margin-left: -70px;
  height: 1px;
  background: #ebebeb;
}

#pa{
    margin-left: 50px;
}


.section-header .section-title:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: -11px;
  left: 50%;
  margin-left: -12px;
  border: 5px solid #fff;
  border-radius: 20px;
  background: #45aed6;
}

