::selection {
    background-color: steelblue;
    color: #f1f1f1;
    text-shadow: none; }
a:link   
{   
 text-decoration:none;   
} 
/*NAVEGADOR PRINCIPAL*/
#NavP{
    height: 4.3em;
    position: fixed;
    width: 100%;
    top:0;
    z-index: 1000;
    background-image: -webkit-linear-gradient(top,#3c3c3c 0,#222 100%);
    background-image: -o-linear-gradient(top,#3c3c3c 0,#222 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#3c3c3c),to(#222));
    background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    background-color: #222;
    border-color: #080808;
}
#NavP #navegando{
    margin-top:1em;
    width: 40em;
    margin-left:-6em;
    padding-left: 0;
    float: left;
}
#LogoNav{
    margin-left: 2em;
}
#NavP #navegando a ,#NavP #intranetNav a > li{
    color:white;
    
}
#NavP #navegando a{
    padding: 1.1em;
}
#NavP #navegando a:hover{
    border-top: 5px solid red;
}
#NavP #apretar > li,#NavP #NavUserT > li,#A-NavG{
    float:right;
    background: #D91626;
    margin-right: 2em;
    padding: 1.1em;
}
#NavP #Navuser a:hover li{
    background: red;
    
}
#SlideIntra{
    position: absolute;
    display: none;
    right: 2em;
    width: 20em;
    z-index: 1000;
    float: left;
    top:4.3em;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: center;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

/*NAV PARA CELULAR*/

#NavP #NavCel {
    position: absolute;
    display: none;
    right: 0;
    top:4.3em;;
    width: 17em;
    z-index: 1000;
    background-image: -webkit-linear-gradient(top,#3c3c3c 0,#222 100%);
    background-image: -o-linear-gradient(top,#3c3c3c 0,#222 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#3c3c3c),to(#222));
    background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    background-color: #222;
    margin-left: 0;
    padding: 0;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
#NavP #Navuser{
    position: absolute;
    padding: 0;
    display: none;
    right:2em;
    top:4.3em;
    z-index: 1000;
    background-image: -webkit-linear-gradient(top,#3c3c3c 0,#222 100%);
    background-image: -o-linear-gradient(top,#3c3c3c 0,#222 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#3c3c3c),to(#222));
    background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    background-color: #222;
    
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
#NavP #NavCel a >li,#NavP #Navuser a > li{
    display: block;
    text-align: center;
    width: 15em;
    padding: 1em;
    margin-right: 0;
    
}
#NavP #NavCel a,#NavP #NavCell{
    padding:0;
}
#NavP #NavCel a > li{
    color:white;
    margin-left: 0;
    
}
#NavP #NavCel a:hover > li{
    background: red;
}
#sliderheader{
    display:block;
    position: relative;
    top:0;
    width: 100%;
    height: 100%;
}
.slider_controls{
    display: block;
    width: 8em;
    margin:0 auto;
    margin-top: -4em;
}
.slider_controls li{
    display: inline-block;
    position:relative;
    width: 1.5em;
    height: 1.5em;
    border:2px solid white;
    border-radius: 100%;
    padding-right: 4px;
    z-index: 4;
}
.form_container {
    display: block;
    width: 100%;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.form_container .slideContainer {
    white-space: nowrap;
}

.form_container .slideContainer .slide {
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
    background-size: 100% ;
    background-repeat: no-repeat;
    background-position: 20%;
}
#navGeneral{
    position: fixed;
    top:0;
    z-index: 1000;
    width: 100%;
}
#LogoNav{
    margin-top:-.7em;
    margin-right: 3em;
    width: 3em;
    height: 3em;
}
.navbar-inverse{
    border-radius: 0;
}
body nav ul{
    display: block;
    position: relative;
    margin: 0 auto;
    text-align: center;
}
body nav ul li{
    display: inline-block;
    font-size: 16px;
    padding:.3em;
    color:white;
}
#intranet{
    padding-top:1em; 
    padding-bottom:1em; 
    color:black;
}
#login-dp{
    min-width: 240px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px;
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 50%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{

    display: inline;
    color: #fff;

    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;

    background-color: #2f477a;
    background-image: -webkit-linear-gradient(top,#3b5998,#2f477a);
    background-image: linear-gradient(top,#3b5998,#2f477a);
}
.btn-tw{
    display: inline;
    color: #fff;
    background-color: #d14836;
    background-image: -webkit-linear-gradient(top,#dd4b39,#d14836);
    background-image: linear-gradient(top,#dd4b39,#d14836);
}
.btn-tw:hover{
    color: #fff;
    background-color: #c53727;
    background-image: -webkit-linear-gradient(top,#dd4b39,#c53727);
    background-image: linear-gradient(top,#dd4b39,#c53727);
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }

    #intranet{
        color:white;
    }
}
