#streaming{
    margin-top: 4.3em;
    padding-top: 3em;
}
#video-youtube{
    
}
#contenido-chat{
    position: relative;
    border:1px solid red;
    height: 22em;
    overflow-x: hidden;
    overflow-y: auto;

}

.mensaje{
    width: 100%;
    border:1px solid blue;
    word-wrap: break-word; 
}
#enviar{
    height: 8em;
}
#chat{
    border:1px solid red;
    height: 30em;
}
#enviar-pregunta{

    display:block;
    margin:1em auto;
}
#Pregunta{
    display: none;
    margin:1em auto;

}
