#Header-perfil{
    position: relative;
    margin:0;
    margin-top:4.3em;
    
    width: 100%;
    height: 30em;
    background: url("../img/header-user.jpg") no-repeat center center fixed;
    background-size: 100% 100%;
    background-position: 20% 30%; 
}
#LogoP{
    position: absolute;
    background: url("../img/Logo.png") no-repeat ;
    background-size: 100% 100%;
    width: 10em;
    height: 10em;
    bottom:1em;
    right: 2em;
    
}
#infouser{
    position: absolute;
    margin-top:5em;
}
#Foto-user{
    position: relative;
    display: block;
    border-radius: 100%;
    width: 15em;
    height: 15em;
    margin:0 auto;
}
#infouser p{
    color:white;
}
#Nombres{
    margin-top:.5em;
    font-size: 35px;
    margin-bottom: 0;
}
#dato{
    color:white;
    margin-top: 0;
    font-size: 18px;
    margin-bottom: 0;
    list-style: none;
}
#dato >p{
    display: inline;
    color:red;
}
#dato > button{
    margin-top:1em;
    margin-left: 5em;
}
#adorno{
    position: relative;
    width: 100%;
    height: 2em;
    border-bottom: 3px solid #467A51;
    background: #E13300;
}
#blog{
    padding-top: 10em;
}
.thumbnail img{
    width: 100%;
    height: 15em;
}
.articulo{
    margin-top: 2em;
    margin-bottom: 1em;
}
.articulo #info_articulo #autor{
    display: inline-block;
    position: relative;
    font-family: 'Oswald', sans-serif;
    color:#50595c;
    font-weight: bolder;
    font-size: 17px;
    margin-left: 1em;
}
.articulo #info_articulo #fecha{
    display: inline-block;
    position: relative;
    margin-top:1em;
    float:right;
}
.articulo  #info_articulo{
    margin-top:2em;
    padding-bottom:.5em; 
    border-bottom:1px solid #D0D0D0;
}
.articulo  #info_articulo #foto_autor{
    width: 3em;
    height: 3em;
}
.articulo #contenido{
    padding-bottom:.5em; 
    border-bottom:1px solid #D0D0D0;
}
.articulo #titulo{
    margin:0 auto;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
}
#comentarios{
    margin-bottom:10em;
}
#comentarios #coment{
    margin-top:1em;
    padding-bottom:1em;
    border-bottom:1px solid #D0D0D0;
}
#comentarios h2{
    
    font-family: 'Oswald', sans-serif;
    
    font-size: 25px;
    width: fit-content;
    padding-bottom: .3em;
    border-bottom:2px solid #6495ED;
}
#comentarios .foto_coment{
    width: 3em;
    height: 3em;
    margin-right: -1em;
    float:right;
}
#comentarios .nombre_coment{
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    color:#003399;
}
@media (max-width: 768px ){
    #Foto-user{
        width: 13em;
        height: 13em;
    }
    #infouser{
        margin-top: 2em;
    }
    #Nombres{
        text-align: center;
        font-size: 23px;
    }
    #dato{
        text-align: center;
        width: 100%;
        font-size: 15px;
    }
    #dato > button{
        position: relative;
        margin:1em auto;
    }
}